*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath
.project
.settings/

src/applicationContext.xml 

*.DS_Store

src/applicationContext.xml

WebContent/homepage/homepage.jsp

src/applicationContext.xml

WebContent/resource/homepage-image2.jpg
